<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTaskControl"
        (keydown.enter)="changeHandler()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list">
        <li
          (dblclick)="updateTaskEditingMode(i)"
          *ngFor="let task of tasksByFilter(); index as i"
          [class.editing]="task.editing"
          [class.completed]="task.completed"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
              (change)="updateTask(i)"
            />
            <label>{{ task.title }}</label>
            <button class="destroy" (click)="deleteTask(i)"></button>
          </div>
          <input
            class="edit"
            (keydown.enter)="updateTaskText(i, $event)"
            [value]="task.title"
          />
        </li>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"
        ><strong>{{ tasksByFilter().length }}</strong>
        <span *ngIf="tasksByFilter().length > 1; else elseItem"> items</span>
        <ng-template #elseItem> item</ng-template>
      </span>
      <ul class="filters">
        <li (click)="changeFilter(FilterTypes.all)">
          <a routerLink="/" [class.selected]="isSelectFilter(FilterTypes.all)"
            >All</a
          >
        </li>
        <li (click)="changeFilter(FilterTypes.pending)">
          <a
            routerLink="/pending"
            [class.selected]="isSelectFilter(FilterTypes.pending)"
            >Pending</a
          >
        </li>
        <li (click)="changeFilter(FilterTypes.completed)">
          <a
            routerLink="/completed"
            [class.selected]="isSelectFilter(FilterTypes.completed)"
            >Completed</a
          >
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
